body{
    background-color: rgb(175, 179, 179);
}
.transition_example{
    background-color:  rgb(19, 26, 53);;
    height: 150px;
    width: 500px;
    margin: 30px 50px;
    transition: 0.7s;
    border-radius: 20px;
}
.transition_example:hover{
    width: 1200px;
    transition: 0.7s;
}
.fa_ul{
    list-style-type: none;
    margin-left: 2.5em;
   padding: 0px;
}
li{
    padding: 15px;
    color: white;
}