.triangle{
    width: 0;
    height: 0;
    border-left: 50px solid transparent;
    border-right:50px solid transparent ;
    border-bottom: 100px solid red;
}
body{
  
        background: url(flows.jpg) no-repeat center center fixed;
        background-size: cover;
        width: 100%;
        min-height: 100%;
   
     
}
